* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

$primary-color: white;
$secondary-color: #00A9FF;

$primary-text-color: black;
$secondary-text-color: #464853;
$third-text-color: white;


.primary-bg-color {
  color: $primary-color;
}

.secondary-bg-color {
  color: $secondary-color;
}

.primary-text-color {
  color: $primary-text-color;
}

.secondary-text-color {
  color: $secondary-text-color;
}

.important-text {
  color: $primary-text-color;
  font-weight: 900;
}

.secondary-text {
  color: $secondary-text-color;
  font-weight: 900;
}

.title {
  color: $primary-text-color;
  font-weight: 900;
  font-size: 3.75rem;
}

.subtitle {
  font-size: 1.5rem;
  color: #464853;
  font-weight: 900;
}