@import '../../layout';

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  padding: 0.5rem 0;
  box-shadow: 0 4px 2px -2px $secondary-text-color;
}

.nav-img-container {
  flex-basis: 50%;
  justify-content: flex-start;

  img {
    padding-left: 0.5rem;
  }
}

.nav-menu-container {
  flex-basis: 50%;

  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1rem;
}

.menu-separator {
  color: $secondary-text-color;
}